:root {
  --primary-text-color: #212121;
  --secondary-text-color: #000000;
  --white-color: #ffffff;
  --hover-color: #2196f3;
  --title-text-color: #757575;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --section-background-color: #f5f4fa;
}

.logo {
  color: var(--hover-color);
}
.logo-span {
  color: var(--secondary-text-color);
}

.navigation {
  color: var(--secondary-text-color);
}

.navigation:hover,
.navigation:focus {
  color: var(--hover-color);
}

.header-contacts {
  color: var(--title-text-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--hover-color);
}

.hero-title {
  color: var(--white-color);
}

.title-about-us {
  color: var(--primery-text-color);
}

.text-about-us {
  color: var(--title-text-color);
}

.primery-button {
  color: var(--white-color);
}

.main-title {
  color: var(--primery-text-color);
}

.title-services {
  color: var(--white-color);
}

.name {
  color: var(--primary-text-color);
}

.profession {
  color: var(--title-text-color);
}

.city-address {
  color: var(--white-color);
}

.footer-contacts {
  color: var(--footer-contacts-color);
}

.join-in {
  color: var(--white-color);
}

.secondary-button {
  color: var(--primary-text-color);
}
.secondary-button:hover,
.secondary-button:focus {
  color: var(--white-color);
}

.portfolio-section {
  color: var(--primary-text-color);
}

.portfolio-description {
  color: var(--title-text-color);
}
.detailed-description {
  color: var(--white-color);
}
